<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta charset="utf-8"/>
  <meta name="description" content="Dynamic tables and grids using jqGrid plugin"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <title>Payments</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/css/ui.jqgrid.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../../css/tables.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/js/jquery.jqgrid.min.js"></script>
  <script src="../js/formatters.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Payments</title>

  <script type="text/javascript">
    function submit1(){
      var e = document.getElementById("cardNumber");
      var value = e.options[e.selectedIndex].value.toString();

      var p = document.getElementById("price").value.toString();
      var s = document.getElementById("service").value.toString();

      var xhr = new XMLHttpRequest();
      xhr.open('POST', 'http://localhost:8080/payment', true);
      xhr.setRequestHeader("Content-Type", "application/json");

      xhr.onreadystatechange = function() {
        if (xhr.readyState != 4) return;
        if (xhr.status == 200) {
          alert("Payment completed successfully");
          console.log(xhr.status + ': ' + xhr.statusText);
        } else {
          window.location.href = 'error.html'
          console.log(xhr.responseText);
        }
      }

      xhr.send(JSON.stringify({cardNumber: value, price: p, service: s}));
    }

  </script>

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" th:text="#{payments}"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/default" th:text="#{goodDay} + ', ' + ${firstName} + ' ' + ${lastName}"></a></li>
        <li>
          <form class="navbar-form navbar-right" role="form" action="/default">
            <button type="submit" class="btn btn-success" th:text="#{backToPersonalCabinet}"></button>
          </form>
        </li>
        <li>
          <form class="navbar-form navbar-right" role="form" action="/logout">
            <button type="submit" class="btn btn-success" th:text="#{logout}"></button>
          </form>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div id="content_box">
  <br/><br/><br/>
  <div id="content_title">
    <h2 align="center" >Payment for services or goods</h2>
  </div>
  <div id="content">
    <form align="center" id="form">
      <p align="center">Choose a credit card
      <p/>

      <select id ="cardNumber" align="center" th:field="*{cardNumbers}">
        <option th:each="card : ${cardNumbers}"
                th:value="${card}"
                th:utext="${card}"/>
      </select>

      <p align="center">Name of service or goods
      <p/>
      <input align="center" type="text" id="service"/>

      <p align="center">Enter the price of goods
      <p/>
      <input align="center" type="number" min="1" oninput="validity.valid||(value='');" id="price"/>
      <br><br>

      <input align="center" type="button" value="Submit" onClick="submit1()"/>

      <button align="center" type="button" onclick="submit()">Clear</button>
    </form>
  </div>
</div>
</body>
</html>